* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.part-1 {
    background-color: #3EBFFF;
}

li {
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nav-item {
    transition: all 300ms ease-in-out;
    padding: 12px;
    border-radius: 24px;
}

.nav-item:hover {
    background-color: #ffffff;
}

.nav-item:hover a {
    color: #232d3c;
    font-size: 1rem;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
    font-weight: bold;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.header {
    width: 100%;
    height: 92vh;
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.header h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    padding-top: 20vh;
    letter-spacing: 4px;
    font-family: 'Fraunces', serif;
}

.part-2 {
    height: 300vh;
}

.tarnsform-box, .standout-box, .img-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.info {
    flex: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 8% 0 8%;
}

.info h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #1e2f40;
    font-family: 'Fraunces', serif;
}

.info p {
    color: #8d8c95;
}

.info button {
    border: none;
    font-weight: bolder;
    font-family: 'Fraunces', serif;
    width: 24%;
    min-width: 100px;
    text-transform: uppercase;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

#btn1 {
    box-shadow: 0px 5px 2px #fed40169;
}

#btn1:hover {
    box-shadow: 0px 5px 2px #fed401;
}

#btn2 {
    box-shadow: 0px 5px 2px #fe716169;
}

#btn2:hover {
    box-shadow: 0px 5px 2px #fe7161;
}

.egg {
    background-image: url(images/desktop/image-transform.jpg);
}

.stand-out-img {
    background-image: url(images/desktop/image-stand-out.jpg);
}

.graphic-design-box {
    background-image: url(images/desktop/image-graphic-design.jpg);
}

.photography-box {
    background-image: url(images/desktop/image-photography.jpg);
}

.tarnsform-box .egg, .stand-out-img,
.graphic-design-box, .photography-box {
    flex: 50%;
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.graphic-design-box, .photography-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 10% 10vh 10%;
    align-items: center;
    justify-content: end;
    text-align: center;
}

.graphic-design-box h2 {
    color: #23564c;
}

.photography-box h2 {
    color: #165774;
}

.graphic-design-box h2, .photography-box h2 {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Fraunces', serif;
}

.graphic-design-box p {
    color: #23564c;
}

.photography-box p {
    color: #165774;
}

.part-3 {
    height: 100vh;
}

.part-3 *{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
}

.client {
    display: flex;
    flex-direction: column;
    color: #a8a9ab;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Fraunces', serif;
    letter-spacing: 2px;
    height: 25vh;
    justify-content: flex-end;
}

.client-info {
    display: flex;
    flex-direction: row;
    height: 75vh;
    padding: 5% 15% 5% 15%;
}

.clients {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    text-align: center;
    height: 100%;
    width: calc(100/3%);
}

.clients img {
    width: 50px;
    height: 50px;
    margin-bottom: 5%;
    border-radius: 100px;
}

.clients p {
    color: #4c4d4e;
    padding: 0 15% 0 15%;
}

.names h3 {
    color: #323843;
    font-family: 'Fraunces', serif;
}

.names h4 {
    color: #b2b2b0;
}

.footer {
    height: 100vh;
    background-color: #90d4c5;
}

.four-img-box {
    height: 55vh;
    display: flex;
}

.two-img-box {
    display: flex;
    width: 100%;
    height: 100%;
}

.milkbottles {
    background-image: url(images/desktop/image-gallery-milkbottles.jpg);
}

.orange {
    background-image: url(images/desktop/image-gallery-orange.jpg);
}

.cone {
    background-image: url(images/desktop/image-gallery-cone.jpg);
}

.sugarcubes {
    background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
}

.milkbottles, .orange,
.cone, .sugarcubes {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bottom, .social {
    height: calc(45vh / 2);
    background-color: #90d4c5;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.bottom {
    flex-direction: column;
}

.bottom h1 {
    padding-top: 5%;
    color: #287062;
    font-weight: bolder;
    font-size: 2.5rem;
}

.bottom .navs {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.navs li {
    padding: 16px;
}

.bottom .navs a {
    text-decoration: none;
    color: #3e776b;
}

.social-icons {
    list-style: none;
    display: flex;
    gap: 20px;
}

.social-icons li {
    padding: 40% 0 40% 0;
}

@media screen and (max-width: 700px)
{
    .hamburger {
        display: block;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: 100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #ffffff8c;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-link {
        color: #555555;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

@media screen and (max-width: 600px)
{   
    .header {
        background-image: url(images/mobile/image-header.jpg);
    }
    .egg {
        background-image: url(images/mobile/image-transform.jpg);
    }
    
    .stand-out-img {
        background-image: url(images/mobile/image-stand-out.jpg);
    }
    
    .graphic-design-box {
        background-image: url(images/mobile/image-graphic-design.jpg);
    }
    
    .photography-box {
        background-image: url(images/mobile/image-photography.jpg);
    }
    .milkbottles {
        background-image: url(images/mobile/image-gallery-milkbottles.jpg);
    }
    
    .orange {
        background-image: url(images/mobile/image-gallery-orange.jpg);
    }
    
    .cone {
        background-image: url(images/mobile/image-gallery-cone.jpg);
    }
    
    .sugarcubes {
        background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
    }

    .part-2 {
        height: 600vh;
    }
    .tarnsform-box {
        flex-direction: column-reverse;
    }
    .standout-box, .img-box {
        flex-direction: column;
    }

    .tarnsform-box, .standout-box, .img-box {
        height: 200vh;
    }

    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 10% 0 10%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info h1 {
        font-size: 3rem;
    }

    .info p {
        font-size: 1.5rem;
        line-height: 2.1rem;
    }

    .info button {
        font-size: 1rem;
        min-width: 120px;
    }

    .tarnsform-box .egg, .stand-out-img,
    .graphic-design-box, .photography-box {
        width: 100%;
        height: 100vh;
    }

    .graphic-design-box, .photography-box {
        padding: 0 10% 12vh 10%;
    }

    .graphic-design-box p, .photography-box p {
        line-height: 2rem;
    }

    .part-3 {
        height: 180vh;
    }

    .client {
        height: 20vh;
        font-size: 1rem;
        justify-content: center;
    }

    .client-info {
        flex-direction: column;
        height: 160vh;
        padding: 5% 10% 5% 10%;
        justify-content: space-between;
        gap: 0;
    }

    .clients {
        gap: 16px;
        height: calc(100/3%);
        width: 100%;
    }

    .clients img {
        width: 100px;
        height: 100px;
        margin-bottom: 5%;
        border-radius: 100px;
    }

    .clients p, .clients h3, .clients h4 {
        line-height: 2rem;
    }

    .clients p {
        padding: 0 10% 0 10%;
    }

    .four-img-box {
        height: 70vh;
        flex-direction: column;
    }

    .bottom, .social {
        height: calc(35vh / 2);
        gap: 0;
    }

    .navs li {
        padding: 25px;
    }
}

@media (orientation: landscape) {
    .nav-bar {
        height: 12vh;
    }

    .info {
        gap: 20px;
    }

    .info h1 {
        font-size: 2rem;
    }

    .info p {
        font-size: 0.8rem;
    }

    .graphic-design-box, .photography-box {
        gap: 15px;
    }

    .graphic-design-box h2, .photography-box h2 {
        font-size: 1.5rem;
    }

    .graphic-design-box p, .photography-box p {
        font-size: 0.8rem;
    }

    .client-info {
        padding: 5%;
    }

    .clients {
        gap: 16px;
    }

    .clients p {
        padding: 0 15% 0 15%;
        font-size: 0.8rem;
    }

    .names h3, .names h4 {
        font-size: 1rem;
    }

    .footer {
        height: 110vh;
    }
}

@media screen and (max-width: 477px) {
    .part-3 {
        height: 180vh;
    }

    .client {
        height: 20vh;
        font-size: 1rem;
        justify-content: center;
    }

    .client-info {
        flex-direction: column;
        height: 160vh;
        padding: 0;
        justify-content: space-between;
        gap: 0;
    }

    .clients {
        gap: 1%;
        height: calc(100/3%);
        width: 100%;
    }

    .clients img {
        width: 70px;
        height: 70px;
        margin-bottom: 5%;
        border-radius: 100px;
    }

    .clients p, .clients h3, .clients h4 {
        line-height: 1.5rem;
    }

    .clients p {
        padding: 0 10% 0 10%;
    }
}

@media screen and (max-width: 410px) {
    
    .info {
        gap: 40px;
        padding: 0 10% 0 10%;
    }

    .info h1 {
        font-size: 2.5rem;
    }

    .info p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .info button {
        font-size: 1rem;
        min-width: 120px;
    }

    .graphic-design-box, .photography-box {
        padding: 0 10% 8vh 10%;
    }

    .graphic-design-box p, .photography-box p {
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 344px) {
    .header h1 {
        font-size: 2rem;
    }

    .part-1 {
        position: relative;
    }

    .nav-bar {
        position: absolute;
        padding: 0;
        width: 10%;
    }
    .logo {
        width: 100%;
        height: 100%;
    }

    .bottom {
        justify-content: space-between;
    }

    .bottom h1 {
        font-size: 2rem;
    }
    .navs {
        flex-direction: column;
    }

    .navs li {
        font-size: 1rem;
        padding-top: 5px;
        padding-bottom: 0;
    }
}